/* Defining all fonts */
@font-face {
    font-family: myfont;
	src: url('YanoneKaffeesatz-Regular.otf');
}

@font-face {
    font-family: myfont2;
	src: url('Debby.otf');
}

/* Defining body and div styles */
body {
	font-family: myfont;
	background-color: #000000;
	color: #1db954;
	
}

div {
    font-family: myfont;
}

div a:hover {
	color: white;
	text-decoration: none; 
}

div table:hover {
	color: white;
}

/* unvisited link */
a:link {
    color: white;
	 text-decoration: none; 
}

/* visited link */
a:visited {
    color: white;
	 text-decoration: none; 
}

/* mouse over link */
a:hover {
    color: white;
	 text-decoration: none; 
}

/* selected link */
a:active {
    color: #000 ;
	text-decoration: none; 
}


/* UI Elements */

/*Now Playing Div is the div that contains media player controls 
and ID3 data of current song being played */
#now_playing_div {
	position: fixed;
    bottom: 0;
    width: 100%;
	background-color: #000000; 
	color: #88d4b0;
    height: 185px;
	-webkit-box-shadow: -1px -4px 31px -1px rgba(245,242,245,0.93);
	-moz-box-shadow: -1px -4px 31px -1px rgba(245,242,245,0.93);
	box-shadow: -1px -4px 31px -1px rgba(245,242,245,0.93);
	z-index: 3;
}

#logobrand 
{
	background-color: #1db954;
	color: #000;
	font-family: myfont2;
	font-size: 35px;
	padding-top: 7px;
	width:200px;height:40px;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
}

#logobrandNew
{
	background-color: #1db954;
	color: #000;
	font-family: myfont2;
	font-size: 35px;
	padding-top: 10px;
	width:200px;height:40px;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
}

#splash
{
	color: #000;
	font-family: myfont2;
	font-size: 65px;
	
}

#rightOptions:ul>li>a>:hover {
	background-color: #f2f5f7;
}

.loginButton {
	height:20px; 
    width: 40px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;	
	background-color: #1db954;
	color: #000;
	font-size: 50x;	
	width:150px;height:40px;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;
}

#backgroundWrapper{
	background-size: cover;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  height: 100%;
  
 left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

#content {
	 background: rgba(64, 42, 42, 0.35);
  
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 110px;
  
  left: 0;
  position: relative;
  
  right: 0;
  z-index: 2;
  
}
/* Synching Animated Circle */
.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 4px solid rgba(0,0,0,0.95);
	border-left-color: #1db954;
	border-radius: 3746px;
		-o-border-radius: 3746px;
		-ms-border-radius: 3746px;
		-webkit-border-radius: 3746px;
		-moz-border-radius: 3746px;
}

.cssload-whirlpool {
	margin: -94px 0 0 -94px;
	height: 188px;
	width: 188px;
	animation: cssload-rotate 500ms linear infinite;
		-o-animation: cssload-rotate 500ms linear infinite;
		-ms-animation: cssload-rotate 500ms linear infinite;
		-webkit-animation: cssload-rotate 500ms linear infinite;
		-moz-animation: cssload-rotate 500ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -86px 0 0 -86px;
	height: 165px;
	width: 165px;
	animation: cssload-rotate 500ms linear infinite;
		-o-animation: cssload-rotate 500ms linear infinite;
		-ms-animation: cssload-rotate 500ms linear infinite;
		-webkit-animation: cssload-rotate 500ms linear infinite;
		-moz-animation: cssload-rotate 500ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -109px 0 0 -109px;
	height: 210px;
	width: 210px;
	animation: cssload-rotate 1000ms linear infinite;
		-o-animation: cssload-rotate 1000ms linear infinite;
		-ms-animation: cssload-rotate 1000ms linear infinite;
		-webkit-animation: cssload-rotate 1000ms linear infinite;
		-moz-animation: cssload-rotate 1000ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}




/* Media Player Styles */
#title {
color: #1db954;
}

#artist {
color: #1db954;
}

#album {
color: #1db954;
}


/*Stop button*/
#songStop{

}
/*Play or Pause button*/
#songPlayPause{

}
/*Song location slider*/
#songSlider{
    width: 100%;
    height: 14px;
}
/*Track progress bar*/
#trackProgress{
    width: 0px;
    height: 13px;
    background-color: #1db954; 
}

#songTime {
	font-size: 12px;
}

#playButton{
    height:25px; 
    width: 25px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
	
}

#stopButton{
    height:25px; 
    width: 25px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
	
}

#forwardButton{
    height:25px; 
    width: 25px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
	
}

#backwardButton{
    height:25px; 
    width: 25px;
    border: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
	
}

/* Images for play, pause, stop, forward, backward media controls */
.play{background: url('../images/play.png') ;}
.pause{background: url('../images/pause.png') ;}
.stop{background: url('../images/stop.png') ;}
.forward{background: url('../images/forward.png') ;}
.backward{background: url('../images/backward.png') ;}


/* All truncate styles */
.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncateAlbums {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncateScript {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFFFFF;
}





.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 50px;
	height: 20px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #1db954;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 18px;
	height: 18px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 10px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 25px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

